body {
    margin: 0px；
}

html {
    margin: 0px;
}

.header {
    margin: 0px;
    padding: 0px;
    line-height: 60px;
}

.row {
    margin: 0px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

.main {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(250, 245, 245);
}

.content {
    width: 70%;
    padding: 20px;
}

.blog-post {
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-color: grey;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
}

.sidebar {
    width: 30%;
    background-color: dimgray;
    color: white;
    padding: 20px;
}

img {
    float: left;
    padding: 10px;
}